<!DOCTYPE html>
<html lang="en">
  <div class="center">
     <div class="inside_left">
      <ul class="list-group">
        <h3>投資 Let’s GO</h3>
        <a href="../Why_invest" class="article">為什麼要投資</a>

        <h3>認識股票</h3>
        <a href="../What_is_the_stock" class="article">什麼是股票</a><br>
        <a href="../What_is_the_K_line" class="article">什麼是K線</a><br>
        <a href="../What_is_ETF" class="article">什麼是ETF</a><br>
         
        <h3>選擇適合自己的投資方式</h3>
         <a href="../Investment_and_speculation" class="article">投資和投機</a>

        <h3>從0開始</h3>
        <a href="../How_to_buy_stock" class="article">如何購買股票</a><br>
        <a href="../Zero_start" class="article">從0股開始</a><br>
        <a href="../One_stock" class="article">第1張股票</a><br>
      </ul>
     </div>
    </div>
 </html>
