<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <%- include article_sidebar.ejs %>
             <div class="inside_right">
              <img src="../images/article.jpg" 
               alt="投資 Let’s GO"
               width="890" 
               height="450"/>
             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
