<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center" style="background-color: #00ff00;">
          這個區塊裡面放你要顯示的所有內容
        </div> 
        </div>
      </div>
    </div>
  </body>
</html>
