<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <div class="center">
            
            <div class="inside">
              <h1>投資 Let’GO</h1>
              <p>為什麼要投資和理財?</p>
              <p>什麼是投資?</p>
              <p>什麼是理財?</p>
              <p>快來和我們一起一探究竟吧!</p>
              <input type="button" style="width:100px;height:30px;color:white;background-image:url('../images/go.jpg');" value="點我前往" onclick="javascript:location.href='../article_content'">
            </div>

            <div class="inside">
              <img src="../images/stock_go.jpg" 
               alt="投資Let’GO"
               width="450" 
               height="250"/>
             </div>
            


             <div class="inside">
               <img src="../images/stock_know.jpg" 
               alt="認識股票"
               width="450" 
               height="250"/>
            </div> 
            <div class="inside">
              <h1>認識股票</h1>
              <p>大家總說要投資股票</p>
              <p>股票是什麼?</p>
              <p>為什麼它可以讓人傾家蕩產</p>
              <p>也可以讓人一夕致富</p>
               <input type="button" style="width:100px;height:30px;color:white;background-image:url('../images/go.jpg');" value="點我前往" onclick="javascript:location.href='../article_content'">
            </div>



             <div class="inside">
                 <h1>選擇適合自己的投資方式</h1>
                 <p>什麼才是最適合我的投資方式?</p>
                 <p>是投機?</p>
                 <p>還是投資?</p>
                 <p>投資和投機有什麼差異?</p>
                 <input type="button" style="width:100px;height:30px;color:white;background-image:url('../images/go.jpg');" value="點我前往" onclick="javascript:location.href='../article_content'">
             </div>
             <div class="inside">
               <img src="../images/stock_suitable.jpg" 
               alt="選擇適合自己的投資方式"
               width="450" 
               height="250"/>
            </div> 
            


              <div class="inside">
               <img src="../images/zero.jpg" 
               alt="從0開始"
               width="450" 
               height="250"/>
            </div> 
            <div class="inside">
               <h1>從0開始</h1>
               <p>看了這麼多的理財知識</p>
               <p>要存多少錢才可以投資?</p>
               <p>該如何跨出投資的第一步?</p>
               <p>跟著我們一起從0開始吧!</p>
               <input type="button" style="width:100px;height:30px;color:white;background-image:url('../images/go.jpg');" value="點我前往" onclick="javascript:location.href='../article_content'">
            </div>

        </div>  
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
