<!DOCTYPE html>
<html lang="en">
<!-- navbar-fixed-top 是將navbar固定於網頁上方 -->
<nav class="navbar navbar-default navbar-fixed-top" >  
      <div class="container-fluid" >
        <div class="navbar-header" >
          <a class="navbar navbar-brand" href="./"><img src="images/text.png" width="240" height="90" style=" padding: 20px 0px 0px 45px;"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse" >
        <div>         
            <div style="width: 15%;" id="FBlogin" class="nav navbar-right fb-login-button" data-max-rows="1" data-size="small" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true" onlogout="checkLoginState();" onlogin="checkLoginState();">
            </div>
            <form class="navbar-form navbar-right" role="search" style="padding:10px 5px;">
              <div class="form-group" style="padding-right: 10px;">
                <img src="../images/search.png" style="vertical-align: middle;width: 40px;height: 30px;padding-right: 10px;"><input class="typeahead tt-query form-control" id="search" spellcheck="false" autocomplete="off" name="typeahead" type="text" placeholder="Search..." style="width: 150px;" />
              </div>

            </form>
           </div>
          <ul class="nav navbar-nav navbar-right"  align="right" style="padding: 5px;vertical-align: middle;">
            <li id="li1" style="display:none;"><a href="../Collection" ><img src="../images/list.png" style="vertical-align: middle;width: 30px;height: 30px;">    收藏清單</a></li>
            <li id="divide1" style="display:none;"><a>｜</a></li>
            <li><a href="/CompanyProfile?code=1101"><img src="../images/stock_chart.png" style="vertical-align: middle;width: 30px;height: 30px;">    股票資訊</a></li>
            <li><a>｜</a></li>
            <li><a href="article"><img src="../images/stock_topic.png" style="vertical-align: middle;width: 30px;height: 30px;">    知識文章</a></li> 
            <li><a>｜</a></li>
            <li><a href="exam" target="_blank"><img src="../images/exam.png" style="vertical-align: middle;width: 30px;height: 30px;">    題庫測驗</a></li> 
            <li><a>　</a></li>
          </ul>         
          </div>
        </div>
      </div>

    </nav>

        <div id="fb-root"></div>
    <script type="text/javascript" src="http://connect.facebook.net/zh_TW/all.js"></script>

<script>
window.onload = function() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
};


// This is called with the results from FB.getLoginStatus().
function statusChangeCallback(response) {
    console.log('statusChangeCallback');
     testAPI();
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
        // Logged into your app and Facebook.
        $("#li1").css('display', 'block');
        $("#divide1").css('display', 'block');
        // testAPI();
    } else {
        $("#li1").css('display', 'none');
        $("#divide1").css('display', 'none');
    }
}

// This function is called when someone finishes with the Login
// Button.  See the onlogin handler attached to it in the sample
// code below.
function checkLoginState() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);

    });
}

window.fbAsyncInit = function() {
    FB.init({
        appId: '1412548535465197',
        cookie: true, // enable cookies to allow the server to access 
        // the session
        xfbml: true, // parse social plugins on this page
        version: 'v2.8', // use graph api version 2.8
        oauth: true
    });

    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
};

// Load the SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.10&appId=1412548535465197";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// Here we run a very simple test of the Graph API after login is
// successful.  See statusChangeCallback() for when this call is made.
function testAPI() {

    FB.api('/me', function(response) {
        // console.log('Successful login for: ' + response.name);
        // alert('Hello ' + response.name + ' ^o^');
        var user = new Array();
        user['id']=response.id;
        user['name']=response.name;
        if(user['id'] !=undefined && user['name']!=undefined){  //若沒登入即不會做比對
        //利用ajax將fb的id和name新增到我們的資料庫
        $.ajax({
                  type: 'POST',
                  url: '/member',
                  data: {id:response.id,name:response.name}
              });
        }
        document.cookie = "id="+response.id;
    });
}

</script>
</html>
