<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>股起勇氣</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/end.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="jumbotron">
    <div class="end-content">
      <div class="row">
        <div class="col-md-2">
          <div class="row small-radios" style="text-align: left;">
            <div class="col-md-6">
              <input type="radio" id="good" name="q" value="a1">
              <label for="good">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" /> 
                </span>  
                <div class="label">解答</div>
              </label>
            </div>
            <div class="col-md-6">
              <input type="radio" id="error" name="q" value="a1">
              <label for="error">
                <span>
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                </span>    
                <div class="label">錯誤</div>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-8 head-t">
            <h1>恭喜順利完成測驗！！</h1>
        </div>
        <div class="col-md-2 right-t">
            <h1>75</h1>
        </div>
      </div>
      <div class="overflow-box">
        <!--第一題-->
        <h3 class="ans-title">1、購買ETF與股票，成交後，皆須繳納手續費及證券交易稅，請問證券交易稅各別為多?</h3>
        <div class="row small-radios" style="text-align: left;">
          <div class="col-md-12">
            <input type="radio" id="a1" name="q" value="a1">
            <label for="a1">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
              </span>
              <div class="label">ETF-0.4%、股票-0.6%</div>
            </label>
          </div>
          <div  class="col-md-12">
            <input type="radio" id="good" name="q" value="a2">
            <label for="good">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
              </span>
              <div class="label">ETF-0.1%、股票-0.3%</div>
            </label>
          </div>
          <div class="col-md-12">
            <input type="radio" id="a3" name="q" value="a3">
            <label for="a3">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" /> 
              </span>   
            <div class="label">ETF-0.3%、股票-0.1%</div>
            </label>
          </div>
          <div class="col-md-12">
          
            <input type="radio" id="error" name="q" value="a4">
            <label for="error">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
              </span>   
            <div class="label">ETF-0.6%、股票-0.4%</div>
            </label>
          </div>
        </div>
        <!--第二題-->
        <h3 class="ans-title">2、何謂『投資』?</h3>
        <div class="row small-radios" style="text-align: left;">
          <div class="col-md-12">
            <input type="radio" id="a1" name="q" value="a1">
            <label for="a1">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">揣摩其他人的買賣行為，決定是否買賣股票成本低廉</div>
            </label>
          </div>
          <div  class="col-md-12">
            <input type="radio" id="good" name="q" value="a2" checked>
            <label for="good">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">評估公司營運狀況，決定是否買賣股票</div>
            </label>
          </div>
          <div class="col-md-12">
            <input type="radio" id="a3" name="q" value="a3">
            <label for="a3">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">以上皆是</div>
            </label>
          </div>
          <div class="col-md-12">
          
            <input type="radio" id="a4" name="q" value="a4">
            <label for="a4">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">以上皆非</div>
            </label>
          </div>
        </div>
        <!--第三題-->
        <h3 class="ans-title">3、ETF與股票的手續費，皆為?</h3>
        <div class="row small-radios" style="text-align: left;"> 
          <div class="col-md-12">
            <input type="radio" id="good" name="q" value="a1">
            <label for="good">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">0.1425%</div>
            </label>
          </div>
          <div  class="col-md-12">
            <input type="radio" id="a2" name="q" value="a2" checked>
            <label for="a2">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">0.1918%</div>
            </label>
          </div>
          <div class="col-md-12">
            <input type="radio" id="a3" name="q" value="a3">
            <label for="a3">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">2.1516%</div>
            </label>
          </div>
          <div class="col-md-12">
          
            <input type="radio" id="a4" name="q" value="a4">
            <label for="a4">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">1.2544%</div>
            </label>
          </div>
        </div>
        <!--第四題-->
        <h3 class="ans-title">4、陽線和陰線，在台灣分別是什麼顏色?代表什麼意思?</h3>
        <div class="row small-radios" style="text-align: left;">      
          <div class="col-md-12">
            <input type="radio" id="a1" name="q" value="a1">
            <label for="a1">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">陽線-綠色、股票『跌』；陰線-紅色、股票『漲』</div>
            </label>
          </div>
          <div  class="col-md-12">
            <input type="radio" id="good" name="q" value="a2" checked>
            <label for="good">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">陽線-紅色、股票『漲』；陰線-綠色、股票『跌』</div>
            </label>
          </div>
          <div class="col-md-12">
            <input type="radio" id="a3" name="q" value="a3">
            <label for="a3">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">陽線-紅色、股票『跌』；陰線-綠色、股票『漲』</div>
            </label>
          </div>
          <div class="col-md-12">
          
            <input type="radio" id="a4" name="q" value="a4">
            <label for="a4">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">陽線-綠色、股票『漲』；陰線-紅色、股票『跌』</div>
            </label>
          </div>
        </div>
        <!--第五題-->
        <h3 class="ans-title">5、K線又稱之為什麼圖?</h3>
        <div class="row small-radios" style="text-align: left;">
          <div class="col-md-12">
            <input type="radio" id="a1" name="q" value="a1">
            <label for="a1">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">K線圖</div>
            </label>
          </div>
          <div  class="col-md-12">
            <input type="radio" id="a2" name="q" value="a2">
            <label for="a2">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">走勢圖</div>
            </label>
          </div>
          <div class="col-md-12">
            <input type="radio" id="a3" name="q" value="a3">
            <label for="a3">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">股價圖</div>
            </label>
          </div>
          <div class="col-md-12">
          
            <input type="radio" id="good" name="q" value="a4">
            <label for="good">
              <span>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                
              </span>
                
            <div class="label">蠟燭圖</div>
            </label>
          </div>
        </div>
    </div>                
  </div>
</body>
</html>