<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
             <%- include article_sidebar.ejs %>

             <div class="inside_right">
             

              <h1 style="text-align:center;font-family:arial">要如何購買股票?購買股票前又應該準備什麼東西呢</h1><br>
               
            <h3 style="text-align:left;font-family:arial">
              購買股票前，必須先到『證券商』開戶，那麼什麼是『證券商』?<br><br>
              證券商是在買賣股票的過程中，擔任中介者的角色，負責接受投資人的委託，並把該委託單遞交給證券交易所。所以要留意，開設證券交易帳戶可不是到銀行，而是向證券商申辦
            </h3><br>


             <h3 style="text-align:left;font-family:arial">
              如何挑選『證券商』?
            </h3><br>


              <img src="../images/ch4_0101.jpg" 
               alt="挑選證券商"
               width="750" 
               height="400"/>


             <h3 style="text-align:left;font-family:arial">
              1.  地點方便性<br><br>
                  儘管大部分投資人，已經習慣網路、手機APP等電子下單的方式，但難免會碰到像是轉換到新證券商等，必須至證券商臨櫃辦理的業務，如果證券商所處的地點太遠，無形之中就增加了交通成本，因此證券商當然離住家、公司愈近愈好
            </h3><br>

             <h3 style="text-align:left;font-family:arial">
             2. 手續費折扣<br><br>
                賣股票時，證券商都會向投資人收取手續費，雖然手續費看似不高，但累積起來也是一筆不可小覷的數目。而證券商為了要鼓勵投資人電子下單，多會祭出手續費折扣，目前多為2.3折至6折不等。所以選擇證券商前，不妨比較幾間證券商的折扣數，避免自己的獲利都被手續費吃掉了
            </h3><br>
              
              


            <p>
            <h3 style="text-align:left;font-family:arial">
              開戶流程是什麼?
            </h3></p><br>

               <img src="../images/ch4_0102.jpg" 
               alt="開戶準備"
               width="750" 
               height="400"/>

            <h3 style="text-align:left;font-family:arial">
             一、 開戶前，需準備下列東西：<br>
                  1.身分證<br>
                  2.健保卡<br>
                  3.印鑑<br>
                  4.現金1,000元 (每間券商不同)<br>
            </h3><br>


               <img src="../images/ch4_0103.jpg" 
               alt="交易方式"
               width="750" 
               height="400"/>

            <h3 style="text-align:left;font-family:arial">
              二、到證券商辦理開戶，先選擇交易方式，交易方式如下：<br>
                  1. 網路下單<br>
                  2. 語音下單<br>
                  3. 手機下單<br>
                  4. 臨櫃辦理<br>
                 ※交易方式可複選<br>
            </h3><br>

              <img src="../images/ch4_0104.jpg" 
               alt="相關文件"
               width="750" 
               height="400"/>


             <h3 style="text-align:left;font-family:arial">
    三、 簽署相關文件，有許多相關文件，大致有8張契約書<br>
   1.委託買賣證券受託契約書：此契約書是委託證券公司買賣上市股票<br>
   2.櫃檯買賣有價證券開戶契約：此契約書是委託證券公司買賣上櫃股票<br>
   3.聲明書：投資人對於印鑑、款項、存摺應妥善保管的契約書<br>
   4.櫃檯買賣確認書：投資人充分了解櫃檯買賣規則的契約書<br>
   5.集中保管同意書：此申請書是讓以後買賣股票不需親自拿股票去交割，由 
    集中保管公司自動移轉買賣的股票。<br>
    ※『集保』，就是將股票存在集保公司，全名是:台灣集中保管股份有限公司
    白話一點就是幫所有投資人保管股票，處理股票交割....等事宜的一個政府機
    構。<br>
   6.交割款券轉撥同意書：交割款券轉撥同意書是投資人委託證券公司辦理交 
     割、集保及在指定銀行扣款匯錢<br>
   7.認購〈售〉權證風險預告書：告知投資人必須自付股票理財風險。<br>
   8第二類票據退票資料電腦查詢申請單：證券公司可以利用此申請單查詢投  
     資人是否有退票紀錄<br>
            </h3><br>


            <img src="../images/ch4_0105.jpg" 
               alt="帳戶"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">
              四、開戶完成後，主要會有兩個帳戶，以及相關文件，帳戶如下：<br>
               1.證券集保戶---(股票進出用)<br>
                 上面登記所有你以後買賣股票的紀錄，它是以"股"為單位<br><br>
               2.證券買賣交割銀行帳戶---(資金進出用)<br>
                 買賣股票專用的銀行帳戶，到證券公司開戶完成後，營業員會帶領你  
                 到配合的銀行開立"銀行交割帳戶"
            </h3></p><br>

             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
