<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <div class="center">
            <%- include article_sidebar.ejs %>

             <div class="inside_right">
             

              <h1 style="text-align:center;font-family:arial">你為什麼要投資?是透過什麼方式決定買賣股票?</h1><br>
               
            <h3 style="text-align:left;font-family:arial">
              是『投資』還是『投機』?它們分別又是什麼呢?
            </h3><br>
              
               <img src="../images/ch3_0101.jpg" 
               alt="投資"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">
              『投資』是什麼?<br>
              投資者是評估過公司營運狀況、未來趨勢…等基本面，再決定是否買賣股票
            </h3></p><br>

               <img src="../images/ch3_0102.jpg" 
               alt="投機"
               width="750" 
               height="400"/>

            <h3 style="text-align:left;font-family:arial">
              『投機』是什麼?<br>
               投機者則是揣摩其他人的買賣行為，預測股價未來是否上漲或下跌，決定是否買賣股票，而不是評估公司營運狀況
            </h3><br>

             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
