<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <%- include article_sidebar.ejs %>
             <div class="inside_right">
             

              <h1 style="text-align:center;font-family:arial">究竟該如何挑選適合自己的股票呢?</h1><br>

              <img src="../images/ch5_0101.jpg" 
               alt="第1張股票"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">
              1.評估自己的財務狀況<br>
投資前，應先評估自己的財務狀況，扣除每月固定及臨時支出後，每個月預計投入多少金額
            </h3></p><br>

             <p>
            <h3 style="text-align:left;font-family:arial">
              2.篩選適合自己的投資標的<br>
             自己想投資哪一個產業，對哪個產業較為熟悉
            </h3></p><br>

             <p>
            <h3 style="text-align:left;font-family:arial">
              3.透過『基本面』評估公司狀況<br>
              評估公司的營運狀況，決定是否投資這間公司
            </h3></p><br>

             <p>
            <h3 style="text-align:left;font-family:arial">
              4.『技術面』及『籌碼面』決定是否加碼投注<br>
             技術面：研究過去股價走勢，預測未來股價漲跌<br>
             籌碼面：跟著大戶，決定是否買賣股票
            </h3></p><br>

             
            <p>
            <h3 style="text-align:left;font-family:arial">大戶是指在股票市場具有影響力的人，分為三種
            </h3></p><br>

             <img src="../images/ch5_0102.jpg" 
               alt="大戶"
               width="750" 
               height="400"/>

            <p>
            <h3 style="text-align:left;font-family:arial">
              根據大戶動向，有 3 個訣竅
            </h3></p><br>

            <p>
            <h3 style="text-align:left;font-family:arial">
              1. 大戶買進<br>
              價格上漲，跟著買進！
            </h3></p><br>

            <p>
            <h3 style="text-align:left;font-family:arial">
              2. 大戶賣出<br>
                價格下降，跟著賣出！因為大戶們一買一賣都是幾百張，
                甚至幾千張在買賣同一支股票，他們一買進，此檔股票需求大幅上升
               ，價格自然上漲，但一旦賣出也會使股價下跌
            </h3></p><br>

            <p>
            <h3 style="text-align:left;font-family:arial">
              3. 大戶的買進和賣出是連續的<br>
          當大戶開始買進，就會連續好幾天買，股價就會跟著上漲，而相反的，只要開始賣就會連續賣好幾天，該公司股價就會跟著他們波動
            </h3></p><br>

            <p>
            <h3 style="text-align:left;font-family:arial"> 
              大戶通常有自己的投資習慣，且對於該檔股票有一定的了解，可以觀察大戶的投資方式，決定是否加碼投注<br><br>

在挑選該投資哪檔股票時，要先評估自己的財務狀況，每個月要投入多少金額，再來要篩選出適合自己的投資標的，對那個產業是否了解，了解那項產業後，評估公司營運狀況，決定是否投資該公司，在透過『技術面』及『籌碼面』評估是否加碼投注
            </h3></p><br>

             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
