<div id="sidebar_left" class="col-sm-2">
          <ul class="nav nav-sidebar">
            <li><h4>基本分析</h4></li>
            <li><a href="../CompanyProfile/<%= data[0].code %>">基本資料</a></li>
            <li><a href="#">股利政策</a></li>
            <li><a href="../Schedule/<%= data[0].code %>">重大行事曆</a></li>
            <li><a href="#">營收盈餘</a></li>
            <li><a href="#">本益比</a></li>
            <li><a href="#">淨值比</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><h4>技術分析</h4></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><h4>籌碼分析</h4></li>
            <li><a href="">董監持股</a></li>
            <li><a href="">三大法人</a></li>
          </ul>
        </div>