<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %>
<title><%= title %></title>  
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row">
        <%- include sidebar.ejs %> 
        <div id="content" class="">
          <!-- <object type="text/x-scriptlet" style="overflow: hidden;" width="80%" height="900" data="http://www.entrust.com.tw/entrust/video/list.do?searchCategory=%E8%8F%AF%E5%8D%97%E6%8A%95%E9%A1%A7"></object> -->
         <!--  <iframe width="80%" height="700" src="http://www.entrust.com.tw/entrust/video/list.do?searchCategory=%E8%8F%AF%E5%8D%97%E6%8A%95%E9%A1%A7" frameborder="0" allowfullscreen></iframe> -->
          <iframe width="40%" height="350" style="margin: 5px;" src="https://www.youtube.com/embed/0DAqH-MFcLo" frameborder="0" allowfullscreen></iframe>
          <iframe width="40%" height="350" style="margin: 5px;" src="https://www.youtube.com/embed/YlATv0ar8cE" frameborder="0" allowfullscreen></iframe>
          <iframe width="40%" height="350" style="margin: 5px;" src="https://www.youtube.com/embed/A-rPfzmyjk0" frameborder="0" allowfullscreen></iframe>
          <iframe width="40%" height="350" style="margin: 5px;" src="https://www.youtube.com/embed/j3hNYzYt82A" frameborder="0" allowfullscreen></iframe>
        </div>
        </div> 
        </div>
      </div>
    </div>
  </body>
</html>
