<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <div class="center">

            <%- include article_sidebar.ejs %>
             <div class="inside_right">
             

              <h1 style="text-align:center;font-family:arial">很常聽到K線這個名詞，但什麼是K線?</h1><br>


               <p><font size="5" face="verdana">K線主要是記錄每天的股票價格，並且反映一個時段的價格走勢</font></p><br>

              
               <img src="../images/ch2_0201.jpg" 
               alt="何謂K線"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">為什麼會叫K線呢?<br><br>
              以前日本人用來記錄米市每日的行情，因為長得像蠟燭，當時稱為「蠟燭足」，所以K線又稱之為蠟燭圖
            </h3></p><br>

            <p>
            <h3 style="text-align:left;font-family:arial">K線有哪幾種?
            </h3></p><br>

            <img src="../images/ch2_0202.jpg" 
               alt="陽線與陰線說明"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">
              主要分為「陽線」、「陰線」<br>
              在台灣和中國，『漲』是紅色、『跌』是綠色，歐美及香港則是相反<br>
              兩者都是由『開盤價』、『最高價』、『最低價』、『收盤價』組成<br>
              開盤價：股票市場開始交易時的價格，上午9:00整開始<br>
              收盤價：股票市場結束交易時的價格，下午1:30整結束<br>
            </h3></p><br>

            <p>
            <h3 style="text-align:left;font-family:arial">該怎麼了解陽線和陰線的架構呢?
            </h3></p><br>
   
              <img src="../images/ch2_0203.jpg" 
               alt="分辨漲和跌"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial"> 
               陽線：收盤價 > 開盤價，代表『漲』<br><br>
               陰線：開盤價 > 收盤價，代表『跌』<br>
             </h3></p><br>


             <p>
            <h3 style="text-align:left;font-family:arial"> 
               上影線與下影線是什麼?
             </h3></p><br>

             
             <img src="../images/ch2_0204.jpg" 
               alt="上下影線"
               width="750" 
               height="400"/>


             <p>
            <h3 style="text-align:left;font-family:arial"> 
               上影線的頂端：由『最高價』決定<br>
               下影線的底端：由『最低價』決定<br>
              ※不管是陽線或陰線，最高價永遠在蠟燭線中的最上面，最低價永遠在蠟燭線中的最下面，如果影線就越長，表示波動程度越大<br>

             </h3></p><br>

             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
