<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <div class="center">
             <%- include article_sidebar.ejs %>

             <div class="inside_right">
             

              <h1 style="text-align:center;font-family:arial">大家總是說要投資股票，究竟股票是什麼呢?</h1><br>

                 <img src="../images/ch2_0101.jpg" 
               alt="ch2_0101 解釋股票"
               width="750" 
               height="400"/>

               <p>
                <h3 style="text-align:left;font-family:arial">
                股票是一種有價證券，有限或無限股份公司為籌集資金，依據投資者出資的比例，發行相對比例的憑證股票擁有者稱為股東，擁有公司部分權利，可共享公司成長或交易市場波動帶來的利潤，也就是股息（股利）；但也要共同承擔公司運作錯誤所帶來的風險
                </h3></p><br>

              
                <p>
                <h3 style="text-align:left;font-family:arial">
                要怎麼計算股東權益?
                </h3></p>


            <p>
            <h3 style="text-align:left;font-family:arial">假設阿兩、中川、麗子、寺井，4個人合開一間 “烏龍股份有限公司”<br>每個人出資250萬成立這間公司，資本額就是1000萬
            這4個人都是股東，分別持有這間公司25%的股權
            為了證明這4個人擁有這間公司，公司法規定，股份有限公司成立後，須印製股票、交給投資人，證明這4個人擁有“烏龍股份有限公司”<br>
           股票發行時，台灣證管會規定，一股面額為10元
           「烏龍股份有限公司」，總共有 100 萬股
           （資本額 1000萬 / 每股 10 元）
            一張股票有 1000 股，公司總共有1000 張股票
            （100 萬股 / 每張股票 1000 股）
            4個人分別有250張股票，公司的資產，按照股份比例分配
            </h3>
            </p><br>


            <p>
            <h3 style="text-align:left;font-family:arial">要怎麼知道公司每個股東，持有的股份個別有多少呢?
            可以看『董監持股』了解公司內部的股權分配
            </h3></p><br>


            <p>
            <h3 style="text-align:left;font-family:arial">以真實公司  大立光(3008) 舉例
            </h3></p><br>
             

            <img src="../images/ch2_0102.jpg" 
               alt="ch2_0102 以董監持股-3008解釋"
               width="750" 
               height="400"/>

            <p>
            <h3 style="text-align:left;font-family:arial"> 創辦人林耀英董事，擁有2,526張股票，佔1.9%
            假設每股價格50元，一張股票價格就是5萬
            林耀英的身價就是1億多
            </h3></p><br>

             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
