<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <div class="center">
             <%- include article_sidebar.ejs %>
             <div class="inside_right">
             

              <h1 style="text-align:center;font-family:arial">ETF是什麼?</h1><br>
               
            <h3 style="text-align:left;font-family:arial">
              ETF全名為Exchange Traded Funds（指數股票型證券投資信託基金），簡單來說，ETF依據
              某種條件篩選出的多張股票組合，投資人如果購買ETF，就等於一次買進許多企業的股票
            </h3><br>
              
               <img src="../images/ch2_0301.jpg" 
               alt="說明ETF是什麼"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">以最熱門的「元大台灣50」為例<br><br>
            全名為「元大寶來台灣卓越50基金」，是由台股當前市值前五十大的上市公司所組成，其中包含了台積電、鴻海、台塑化…等重量級企業，然而是由哪幾家公司組成並非固定不變，而是會依據市場脈動而做出調整
            </h3></p><br>

               <img src="../images/ch2_0302.jpg" 
               alt="以0050為例"
               width="750" 
               height="400"/>

            <h3 style="text-align:left;font-family:arial">
              一般而言，投資市場稱呼這些套餐內容的企業為「成分股」，投資人購買一張台灣卓越50的股票，就等於間接投資了這些績優企業囉！除此之外，各家公司占台灣卓越50指數權重也並不相同，可以至台灣證券交易所網站中查詢
            </h3><br>

            <h3 style="text-align:left;font-family:arial">
              投資人買賣ETF當然也必須繳納相關費用，包括手續費0.1425%，以及證券交易稅0.1%。
            </h3><br>


             <h3 style="text-align:left;font-family:arial">
               ETF有什麼優點?<br><br>
               與購買個股股票相較之下，投資人選擇ETF的優點還不少，以當前最熱門的台灣卓越50為例：
            </h3><br>


            <img src="../images/ch2_0303.jpg" 
               alt="ETF優點1"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">
              1.分散風險<br><br>
              「雞蛋不要放在同一個籃子裡」，ETF最大的優勢就在於分散風險。假設用100萬購買某一間公司的股票，不論獲利與否，全看這檔股票未來的變化；然而如果用同樣的金額去投資台灣卓越50，由於成分股大多屬於目前較績優的企業，除了不太可能會買到地雷股之外，同時也因為包含企業總數高達50家，且各家權重不同，所以可以有效達到分散風險的目的
            </h3></p><br>


            <img src="../images/ch2_0304.jpg" 
               alt="ETF優點2"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">
              2.成本較低<br><br>
              以占台灣卓越50指數權重最高的台積電與鴻海為例，二者目前股價分別約為221元和111元，投資人若想同時投資這兩家企業的股票，就必須要拿出約30幾萬元的資金，相信對部分散戶而言並不算便宜；然而若選擇投資台灣卓越50，目前大約僅需8萬多元，依然可以享受台積電與鴻海漲跌所帶來的利益，所以相較購買股票而言，操作ETF成本顯得相當低廉
            </h3></p><br>

             <img src="../images/ch2_0305.jpg" 
               alt="ETF優點3"
               width="750" 
               height="400"/>

            <p>
            <h3 style="text-align:left;font-family:arial">
              3.交易費用低<br><br>
              雖然購買ETF類型股票，交易手續費與購買股票相同，皆為0.1425%，但是證券交易稅卻只要0.1%，僅僅才股票交易稅的三分之一
            </h3></p><br>

             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
