<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <div class="center">
             <div class="inside_left">
              <ul class="list-group">
                <h3>投資 Let’s GO</h3>
                <a href="../Why_invest">為什麼要投資</a>

                <h3>認識股票</h3>
                <a href="#">什麼是股票</a><br>
                <a href="#">什麼是K線</a><br>
                <a href="#">什麼是ETF</a><br>
                 
                <h4>選擇適合自己的投資方式</h4>
                 <a href="#">投資和投機</a>

                <h3>從0開始</h3>
                <a href="#">如何購買股票</a><br>
                <a href="#">從0股開始</a><br>
                <a href="#">第1張股票</a><br>
              </ul>
             </div>
             </div>


             <div class="inside_right">
             
               <h1>為什麼要投資</h1>
               投資?理財?為什麼?很多人總是說要投資、要理財，那麼究竟是為什麼會需要呢?
               我想只要出了社會之後，對於一般社會新鮮人，都會面臨到下列四個問題
              
               <img src="../images/ch1-01.jpg" 
               alt="投資Let’GO"
               width="750" 
               height="400"/>

   <h3>物價持續上漲，薪水不漲</h3>
   在這個什麼都漲，只有薪水不漲的年代裡，如果每個月只有22K，生活費真的會夠用嗎?

   <h3>買房買車，只是夢</h3>
   房價上漲、一棟房子至少500萬，一台汽車幾十萬、每個月貸款繳不完
   ，22K永遠不夠用
     
     <h3>結婚生子，教養費從何來</h3>
     結了婚、生了小孩之後，奶粉錢、尿布錢、小孩的學費…等等，支出費用只增不減、薪水卻沒有什麼變動

     <h3>退休後，薪水夠養老嗎</h3>
     退休之後，只靠以前存下來的薪水、退休金，真的足以負擔退休後的生活花費嗎?<br>


       因為投資股票具有高風險性，很多年輕族群，聽聞股票投資，總是望之卻步，事實上，股票確實具有高風險性沒錯，但是只要謹慎規劃、了解投資方式、學會評估企業收益<br><br>

       想要增加財富也不再是夢想唷 
       投資仍然還是有風險，並不是只要投資股票就穩賺不賠
             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
