<!DOCTYPE html>
<html lang="en">
<%- include header.ejs %> 
<title><%= title %></title> 
  <body>
    <%- include content_head.ejs %> 
    <div class="container-fluid">
      <div class="row"> 
        <div class="text-center">
          <%- include article_sidebar.ejs %>
             <div class="inside_right">
             

              <h1 style="text-align:center;font-family:arial">購買股票一定要一次就買一張嗎?</h1><br>


               <p><font size="5" face="verdana">如果手上沒那麼多資金，那該怎麼辦?這時候就會推薦各位，可以先從0股開始買起</font></p><br>

            <p>
            <h3 style="text-align:left;font-family:arial">
              什麼是0股?<br><br>
              一張股票=1000股，而買賣零股就是指買進或賣出999股（含）以下的投資行為，有可能是100股，也有可能250股，只有1股也可以進行買賣<br><br>

              由於股數少，因此投資人要付出的金額也低，例如台積電股價近期約為221.5元，投資人要購買一張台積電的股票，就必須拿出22萬1500元，這對許多新手投資人而言並不是筆小數目；但是如果只是買進100股，在不考慮其他的因素之下，就只需要2萬2150元。未來台積電股價若上漲，持股的價值依舊會隨之水漲船高，就算持有的零股再少，仍然可以參與台積電股價的漲跌
            </h3></p><br>

               <img src="../images/ch4_0201.jpg" 
               alt="0股是什麼"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">只要十分之一的價格就可以買進台積電的股票（零股），對許多資金不足的投資人而言就比較沒那麼困難了，只要定期定額的購買較穩定成長的公司，也可以慢慢累積儲蓄唷
            </h3></p><br>


            <p>
            <h3 style="text-align:left;font-family:arial">
              購買零股需要注意什麼?<br><br>
             1.下單時間與股票不同<br>
一般股票交易的時間是早上9:00~下午13:30，零股的交易委託時間則是下午13:40~14:30，
若不採預約單的方式操作，就只有不到1個小時的交易時間，對許多上班族而言並不是那
麼的方便
            </h3></p><br>
              
               <img src="../images/ch4_0202.jpg" 
               alt="0股下單時間"
               width="750" 
               height="400"/>


            <p>
            <h3 style="text-align:left;font-family:arial">
              2.流動性較低<br><br>
零股最大的缺點在於流動性較低，若是持股數不多、交易量不大，透過集中
  撮合的方式，未可以買到。例如：小明目前擁有某企業800股，想再買200
 股湊齊一張完整的股票，透過系統搓合，市場上可能只有人賣出120股，
 仍欠缺80股。因此當您想購買某企業零股時，建議選擇交易量大的零股來做 
 投資，避免長時間因無法流動而不利於操作囉！
            </h3></p><br>

              <img src="../images/ch4_0203.jpg" 
               alt="0股流動性"
               width="750" 
               height="400"/>

            <p>
            <h3 style="text-align:left;font-family:arial"> 操作零股有哪些撇步？<br>
            </h3></p><br>


            <p>
            <h3 style="text-align:left;font-family:arial">
              1.化零為整易於操作<br><br>
每年到了除權息的期間，由於許多企業發放股票股利，有些投資人可能配不 
到完整一張股票，持有部分的零股，而持股者要嘛是購買零股拚湊成1,000
股(1張股票)，要嘛就是懶得操作而立即脫手
            </h3></p><br>

            <img src="../images/ch4_0204.jpg" 
               alt="化整為0"
               width="750" 
               height="400"/>

            <p>
            <h3 style="text-align:left;font-family:arial"> 
              由於買賣零股是在收盤之後集中搓合的，想要湊齊1,000股其實並不是那麼的容易，所以大部分的投資人為了順利將手中的零股脫手，多半會選擇以較低的價格將它賣出（掛牌價低於收盤價），這對於想買零股的投資人而言，是能夠享有一小部分的成本優惠喔！

       若長期累積下來能湊齊1,000股（完整一張股票）的話，不僅賣出的價格較優，在手
      續費上也可能會比較划算，因此若您是以長期儲蓄的角度來購買零股，而非短線操作
      的話，化零為整的操盤方式是比較推薦的喔
            </h3></p><br>
   

            <p>
            <h3 style="text-align:left;font-family:arial"> 
             2.集中火力省得費心
             </h3></p><br>

             <img src="../images/ch4_0205.jpg" 
               alt="集中操作"
               width="750" 
               height="400"/>

               <p>
            <h3 style="text-align:left;font-family:arial"> 
             投資人為了分散風險，往往會購買不同股票、將雞蛋放置在不同的籃子裡，但操作零股時，若是抱持同樣的想法反而會造成許多困擾。因購買零股撮合不易，一次操作多種零股，有些交易量必定不高，如此一來，要累積到一張，需要花很久的時間。<br><br>

        因此建議還是在自己有研究、有興趣的幾個產業中，挑選較不易受景氣影響而急跌的 
        龍頭企業來做投資而已，尤其以資本額大、成立時間較久的企業為主，由於配股次數
        較多，所以在外流通的零股數也較多，買賣零股的流通性自然就會比較高了
             </h3></p><br>

              <p>
            <h3 style="text-align:left;font-family:arial"> 
             3.精心計算省手續費
             </h3></p><br>
              
              <img src="../images/ch4_0206.jpg" 
               alt="精算手續費"
               width="750" 
               height="400"/>

             <p>
            <h3 style="text-align:left;font-family:arial"> 
             零股的手續費計算方式與一般買賣股票相同，手續費皆為0.1425%，「手續費不足20元，將以20元計算。」在買賣整張股票時，手續費或許都可以輕易地超過20元，但是操作零股由於股數較少，或標的股股價較低，經常會發生手續費低於20元的情況。<br><br>

雖然說這筆費用並不高，但若每次都只買賣10股、20股，手續費長期累積也是一筆
   不容小覷的數目，可以透過下列公式倒推出至少要賣出多少股，才能超越基本手續費門檻囉。<br><br>
  公式：手續費=股價*股數*0.1425%<br><br>

   若手頭資金較不充裕，也可透過定期定額的方式，投資零股，慢慢累積到1張股票或
   多張股票，長期下來，也可以累積到一筆可觀的財富唷
             </h3></p><br>

             </div>

        </div>
        </div>
        </div> 
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
